{%extends 'base.html'%}


{% block 'conteudo' %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>


     <br>
        <section id="quemSomos">
          <div class="container-fluid quemSomos margin text-center">
              <img id="img-loja" src="/static/img/loja.jpg" class="rounded-circle" width="50%" height="700px" alt="Loja-delivery">
              <br>
              <br>
              <p>Nossa Loja nasceu na internet e para internet.</p>

          </div>
      </section>
</html>
 {% endblock %}