


{% block head %}

{% endblock %}

{% block conteudo %}
{% if status %}
<div {% if status.ativo == False %} class="alert alert-danger" role="alert" id="{{status.ativo}}" {% else %} class="alert alert-success" role="alert" id="{{status.ativo}}" {% endif %} >
    {{status.horario_de}} ate {{status.horario_ate}}
  </div>
  {% endif %}
{% endblock %}

{% block js_script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Desabilitar links quando a loja estiver fechada
        disableLinksWhenStoreClosed();
    });

    function disableLinksWhenStoreClosed() {
        const status = '{{ status.ativo }}';
        const links = document.querySelectorAll('.loja-fechada');
        if (status === 'False') {
            links.forEach(link => {
                link.classList.add('disabled');
            });
        } else {
            links.forEach(link => {
                link.classList.remove('disabled');
            });
        }
    }
</script>


{% endblock %}