
:root{
    --vermelho:#b30808;
    --preta:#141414;
    --branco:#fff;
    --cinza:#aaa;
    --rosa:#f8c2ec;
    --rosaforte:#bd219b;
}


.corBorda{
    /* .corBorda  cor do navbar */
    background-color: var(--rosa);
}

.observacoes{
/* label das observaços dentro do produto */
    border: 1px solid var(--rosaforte);
    width: 200px;

}

.tituloProduto{
/* tamano do titulo do produto no produto.html */
font-size: 60px;
}

.subTituloProduto{
/* tamano do subTituloProduto do produto no produto.html */
    font-size: 40px;
}

.bordaBottom{
/* espaço entre o botao */
border-bottom: 1px solid gray;
padding-bottom: 20px;

}

.botao{
/* botao de compra */
    background-color: var(--rosa);
    color: var(--branco);
    padding: 8px;
    border-radius: 15px;
    transition: 0.2s;
}

body{
    /* fundo */
    background-color:var(--branco);
}

.titulo{
     /* Cor do titulo */
    color: var(--rosaforte);

}

.botao:hover{
    /* houver do botao de compra inicial */
    color: var(--branco);
    text-decoration: none;
    padding: 10px;
    border: 1px solid var(--rosaforte);
}

.cont{

    overflow:auto;
    width: 350px;

  }

.cont img {
    max-width: 100%;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    transition: all 2s;
  }



input[type=checkbox] {
    position: relative;
    cursor: pointer;
    border: 1px solid #F2A1A1;
    color: rgb(226, 13, 13);

    }

input[type=checkbox]:before {
    content: "";
    border-radius: 20px;
    border: 1px solid #F2A1A1;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    color: var(--vermelho);
    background-color: var(--branco);
    }

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: 1px solid #BC3535;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 9px;
}

.tamanhoImg{
    width: 500px;
}

@media (max-width: 1200px)
{

    .tamanhoImg{

        width: 300px;

    }

}