{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogo de Promoçoes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .product {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }
        .product img {
            width: 150px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <table border="0" cellspacing="0" cellpadding="0" style="max-width: 700px; width: 100%;">
                    <tr>
                        <td style="padding: 40px 20px; text-align: center;">
                            <img src="{{base_url}}/static/img/logo-min.png" alt="Logo" width="50%">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 40px 20px; background-color: #ffffff;">
                            <h1 class="text-align">Veja nossos Produtos em Promoção</h1>
                            <p>Olá,{{email}} Veja algumas das novidades dessa semana!</p>
                            {% for post in produtos %}
         
                            <div class="card mb-3 text-center product" style="max-width: 540px;">
                                <div class="row no-gutters">
                                  <div class="col-md-4">
                                    <img src="{{post.img.url}}" alt="{{ post.nome_produto }}">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ post.nome_produto }}</h5>
                                      <p class="card-text">{{ post.descricao }}</p>
                                      <a href="{{base_url}}produto/{{post.id}}" class="btn btn-primary">Visualizar</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <hr>

                            {% endfor %}
                            <p>Acesse Nossa Site para Ver mais <a href="{{base_url}}">Mundo Colorido Kids</a></p>
                        </td>
                    </tr>
                   <tr>
                    <td class="text-center">
                        Esse email foi enviado para automaticamente {{email}}
                        <p>Se você não quer mais receber este email clique <a href="{{base_url}}unsubscriber/{{email.id}}" target="_blank" rel="noopener noreferrer">Cancelar</a></p>
                    </td>
                   </tr>
                    <tr>
                        <td style="text-align: center; padding: 20px; background-color: #f7f7f7;">
                            &copy; 2024 Mundo Colorido Kids. Todos os direitos reservados.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
